[submodule "themes/hugo-book"]
	path = themes/hugo-book
	url = git@github.com:junegunn/hugo-book.git
[submodule "themes/hugo-notice"]
	path = themes/hugo-notice
	url = https://github.com/martignoni/hugo-notice.git
